@import url('https://fonts.googleapis.com/css?family=Anton|Barlow:400,700,700i');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

body{
    font-family: 'Barlow', sans-serif;
}

.container-fluid {
    position:fixed;
    bottom:0;
    left:0;
   }

   .carousel, .carousel-inner > .carousel-item > img {
height: 100%;
width: 100%;   
margin: 0 auto;
}

.micarousel {
    height: 400px;
    width: 1920px;
}

.mitexto {
    padding: 2%;
}

.textocontact{
    padding-right: 20%;
    padding-left: 20%;
}