@import url('https://fonts.googleapis.com/css?family=Anton|Barlow:400,700,700i');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

body{
    font-family: 'Barlow', sans-serif;
}

p{
    font-family: 'Barlow', sans-serif;
}

.container-fluid {
    position:fixed;
    bottom:0;
    left:0;
   }

   .carousel, .carousel-inner > .carousel-item > img {
height: 100%;
width: 100%;   
margin: 0 auto;
}

.micarousel {
    height: 400px;
    width: 1920px;
}

.mitexto {
    padding: 2%;
}

.textocontact{
    padding-right: 20%;
    padding-left: 20%;
}

.textoindex2 {
   margin-left: -38%;
    margin-bottom: 3%;
}

.newstexto2{
    margin-top: 4%;
    margin-bottom: 4%;
}
.vl {
    border-top: 4px solid #003459;
    width: 1080px;
    position: absolute;
    margin-top: 2.5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
   
}
/* Map */
.map {
    height: 30rem;
  }
  
  @media (max-width: 992px) {
    .map {
      height: 75%;
    }
  }
  
  .map iframe {
    pointer-events: none;
  }
  hr {
    margin-top: 2.5%;
    border-top: 4px solid #003459;
  }

  .contacto {
      margin-top: 2%;
  }
